
html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.header{
    align-self: center;
    justify-self: center;
    color:#fdfdfd;
}


.gameArea{
    background-color: #333333;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    gap:0px;

}

.board-square{
    
    background-color: #333333;
    border: 5px solid rgb(255, 255, 255);
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;

    box-sizing: border-box;
    margin: 0;


    display: flex;
    align-items: center;
    justify-content: center;
}


.board-square > *{
    align-self: center;
    justify-self: center;
    background-color: #333333;
    font-size: clamp(10pt, 10vmin, 30pt);
    color: white;
}

.turn-area{
    justify-self: center;
    align-self: center;
    font-size: 30pt;
    margin-bottom: 50px;
    color: white;
}

#id0{
   border-left: none;
   border-top: none;

}

#id1{
    border-top: none;
 
}

#id2{
    border-top: none;
    border-right: none;

 
}

#id3{
    border-left: none;
}

#id5{
    border-right: none;
}

#id6{
    border-left: none;
    border-bottom: none;
}

#id7{
    border-bottom: none;
}

#id8{
    border-bottom: none;
    border-right: none;
}

