
html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{
    align-self: center;
    justify-self: center;
    border-bottom: 10px solid black;
}


.gameArea{
    background-color: aqua;
    height: 100%;
    display: flex;
    justify-content: center;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    gap:0px;

}

.board-square{
    
    background-color: red;
    border: 5px solid black;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;

    box-sizing: border-box;
    margin: 0;


    display: flex;
    align-items: center;
    justify-content: center;
}


.board-square > *{
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 255, 255);
    font-size: clamp(10pt, 5vmin, 20pt);
}

#id0{
   border-left: none;
   border-top: none;

}

#id1{
    border-top: none;
 
}

#id2{
    border-top: none;
    border-right: none;

 
}

#id3{
    border-left: none;
}

#id5{
    border-right: none;
}

#id6{
    border-left: none;
    border-bottom: none;
}

#id7{
    border-bottom: none;
}

#id8{
    border-bottom: none;
    border-right: none;
}